header h1 {
    font-family: 'Archivo', sans-serif;
    line-height: 42px;
    font-size: 36px;
    
    font-weight: bold;
    color: white;
}

body::before {
    content: '';
    background: #121214;
    width: 100%;
    height: 368px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e5e5e5;
}

#page {
    width: 736px;
    margin: auto;
    margin-top: 74px;
}

header {
    width:316px;
}

header p {
    color: #42D3FF;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
}

form {
    border: 1px solid read;
}
